<!DOCTYPE html>
<html>
        <head>
            {{> header}}
        </head>
        <body>
            {{> navbar}}
            <div class="container"></div>
                {{{body}}}
            </div>
            <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        </body>
</html>